/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Write your code below */
header{
  background-color:#26d0c9;
  height:90px;
}

.title{
  color:white;
  padding:22px 90px 30px 30px;
  float:left;
}

.subs-list li{
  color:white;
  float:left;
  font-size:20px;
  padding-top:28px;
  padding-right:24px;
}

.main{
  padding:100px 80px;
}

.copy-container h1 {
  font-size:140px;
}

.copy-container h2{
  font-size:60px;
}

span{
  color:red;
}

.conten{
  height:100px;
  padding-top:20px;
  margin-top:30px;
}

.section-item p{ 
  font-size:24px;
  padding-top:25px;
 
}


.section-title{
  border-bottom:1px solid #dee7ec;
  font-size:30px;
  padding-bottom:20px;
  margin-top:12px;
  
}

.section-item{
  float:left;
  padding-top:50px;
  padding-right:40px;
}
